/target

# Build artifacts
*.o
*.bc
*.opt.bc
*_rs

# Executables
*_opt
*_aot
*_c
*_rust
*_go

# Generated source files
# *.c
# *.go
# *.rs
!build.rs
!Cargo.toml
!src/**/*.rs
!runtime.c

# Viper outputs
# *.vp
!tests/*.vp
!benchmark/*.vp

# Libraries
*.a

# Benchmark outputs
benchmark/sieve_c
benchmark/sieve_rust
benchmark/sieve_go
benchmark/*.o

